@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #000000;
  --gray-700: #4f4f4f;
  --gray-500: #D9D9D9;
  --green-500: #169345:
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
.containerBox {
  padding: 0 80px;
}

@media (max-width: 640px) {
  .containerBox {
    padding: 0 16px;
  }

}